<?xml version="1.0" encoding="UTF-8"?>

<taglib version="2.0" xmlns="http://java.sun.com/xml/ns/ [3]"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2eeweb-jsptaglibrary_2_0.xsd">
    <tlib-version>1.0</tlib-version>
    <short-name>dat152</short-name>
    <uri>dat152-libs</uri>
    <tag>
        <name>copyright</name>
        <tag-class>no.hvl.dat152.tags.Copyright</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <name>since</name>
            <required>true</required>
        </attribute>
    </tag>
    <tag>
        <name>shorttext</name>
        <tag-class>no.hvl.dat152.tags.ShortText</tag-class>
        <body-content>scriptless</body-content>
        <attribute>
            <name>maxchars</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>localeSwitcher</name>
        <tag-class>no.hvl.dat152.tags.LocaleSwitcher</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>locales</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <name>currencyConverter</name>
        <tag-class>no.hvl.dat152.tags.CurrencyConverter</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>toCurrency</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>amount</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
</taglib>
